html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  .logo {
    width: 3rem;
    height: 3rem;
  }

  nav {
    background-color: rgb(231, 76, 58);
  }

  .brand {
    font-size: xx-large;
  }

  i {
    color: white;
  }

  @media (min-width: 600px) {
    .icon1 {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.img-txt {
  position: absolute;
  top: 10rem;
  text-align: center;
  left: 25rem;
}

.form {
  top: 13rem;
  width: 30%;
  height: 7rem;
}

.bg {
  background-color: white;
  height: 7rem;
  width: 67%;
  display: flex;
  justify-content: center;
}

.amp {
  left: -9rem;
}

.img1 {
  height: 26rem;
}

@media all and (min-width: 1440px) {
  .bg {
    width: 25%;
  }
}

@media all and (max-width: 1440px) {
  .bg {
    width: 47%;
  }
}

@media all and (max-width: 1024px) {
  .bg {
    width: 68%;
  }
}

@media all and (max-width: 768px) {
  input[type="text"] {
    width: 100%;
  }

  .bg {
    width: 90%;
  }

  .tab {
    margin-top: 2rem;
  }
}

@media all and (max-width: 425px) {
  .img1 {
    height: 29rem !important;
  }

  .img2 {
    float: none !important;
    margin: 20px 0;
  }

  .bnt {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .bg {
    height: 9rem;
    width: 83% !important;
  }

  // .search {
  //   margin-left: 7px;
  //   position: relative !important;
  //   top: 12px !important;
  // }

  .icons {
    display: flex;
    justify-content: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  footer {
    .types {
      background-color: black;
    }
    .dp {
      flex-direction: column !important;
    }
    li {
      text-align: center;
      padding: 0.5em;
    }
  }
  form {
    width: 300px !important;
    margin: auto;
  }

  .htext {
    font-size: x-large;
  }
}

.tle {
  color: orange;
  font-size: larger;
}

.tlee {
  font-size: xx-large;
}

.search {
  font-size: xx-large;
  text-align: center;
}

.center1 {
  text-align: center;
}

.img2 {
  height: 9rem;
}

.reg {
  background-color: rgb(255, 165, 0);
  padding: 15px 0;
}

.btn2 {
  background-color: silver !important;
}

.reg-1 {
  background-color: rgb(197, 182, 182);
  padding: 15px 0;
}

.reg-2 {
  background-color: lightblue;
  padding: 15px 0;
}

footer {
  background-color: black;
  color: white;
  padding-top: 2rem;

  i {
    font-size: xx-large;
  }

  .types {
    background-color: black;
  }

  a {
    color: white;
  }

  .orange {
    color: #ff7b00;
  }

  .pa {
    padding: 1rem;
  }
}

.search {
  position: relative;
  top: -29px;
}

// search

.search-form {
  height: 45vh !important;
  background-color: silver !important;
}

.img {
  width: 50px;
}

.card-img1 {
  height: 15rem;
}

.searchp {
  font-size: x-large;
}

form {
  width: 500px;
  margin: auto;

  input {
    margin-top: 0.5rem;
  }
  label {
    padding-top: 2rem;
  }
}
.asset li {
  list-style-type: none;
}

//  .form1{

//   // align-items: center;
//   // // display: flex;
//   // justify-content: center;

//   input{
//     margin-top: 0.5rem;
//   }
//   label{
//     padding-top: 2rem;
//   }

//  }
