html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .logo {
  width: 3rem;
  height: 3rem;
}

header nav {
  background-color: #e74c3a;
}

header .brand {
  font-size: xx-large;
}

header i {
  color: white;
}

@media (min-width: 600px) {
  header .icon1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.img-txt {
  position: absolute;
  top: 10rem;
  text-align: center;
  left: 25rem;
}

.form {
  top: 13rem;
  width: 30%;
  height: 7rem;
}

.bg {
  background-color: white;
  height: 7rem;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.amp {
  left: -9rem;
}

.img1 {
  height: 26rem;
}

@media all and (min-width: 1440px) {
  .bg {
    width: 25%;
  }
}

@media all and (max-width: 1440px) {
  .bg {
    width: 47%;
  }
}

@media all and (max-width: 1024px) {
  .bg {
    width: 68%;
  }
}

@media all and (max-width: 768px) {
  input[type="text"] {
    width: 100%;
  }
  .bg {
    width: 90%;
  }
  .tab {
    margin-top: 2rem;
  }
  .searchform {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media all and (max-width: 425px) {
  .searchform {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .img1 {
    height: 29rem !important;
  }
  .img2 {
    float: none !important;
    margin: 20px 0;
  }
  .bnt {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg {
    height: 9rem;
    width: 83% !important;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  footer .types {
    background-color: black;
  }
  footer .dp {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  footer li {
    text-align: center;
    padding: 0.5em;
  }
  form {
    width: 300px !important;
    margin: auto;
  }
  .htext {
    font-size: x-large;
  }
}

.tle {
  color: orange;
  font-size: larger;
}

.tlee {
  font-size: xx-large;
}

.search {
  font-size: xx-large;
  text-align: center;
}

.center1 {
  text-align: center;
}

.img2 {
  height: 9rem;
}

.reg {
  background-color: orange;
  padding: 15px 0;
}

.btn2 {
  background-color: silver !important;
}

.reg-1 {
  background-color: #c5b6b6;
  padding: 15px 0;
}

.reg-2 {
  background-color: lightblue;
  padding: 15px 0;
}

footer {
  background-color: black;
  color: white;
  padding-top: 2rem;
}

footer i {
  font-size: xx-large;
}

footer .types {
  background-color: black;
}

footer a {
  color: white;
}

footer .orange {
  color: #ff7b00;
}

footer .pa {
  padding: 1rem;
}

.search {
  position: relative;
  top: -29px;
}

.img {
  width: 50px;
}

.card-img1 {
  height: 15rem;
}

.searchp {
  font-size: x-large;
}

.asset li {
  list-style-type: none;
}

.para1 {
  font-size: x-large;
}

#map {
  width: 100%;
  height: 400px;
  background-color: gray;
}
/*# sourceMappingURL=style.css.map */